@import "@bryntum/gantt/fontawesome/css/fontawesome.css";
@import "@bryntum/gantt/fontawesome/css/solid.css";
@import "@bryntum/gantt/gantt.css";
@import "@bryntum/gantt/svalbard-light.css";

body,
html {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.is-important .b-task-percent-bar-outer {
  background-color: red;
}

.is-important .b-task-percent-bar {
  background-color: #3cb0ee;
}
